<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harry.pullgo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pullgo">
        <activity android:name=".ui.FindAcademyActivity" />
        <activity
            android:name=".ui.studentActivity.StudentMainActivity"
            android:label="@string/title_activity_student_main"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".ui.teacherActivity.TeacherMainActivity"/>

        <activity android:name=".ui.FindAccountActivity" />
        <activity
            android:name=".ui.studentActivity.StudentSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.teacherActivity.TeacherSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>