<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.ich.pullgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.PullgoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_pullgo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pullgo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pullgo">
        <activity
            android:name=".presentation.main.student_main.exam_history_screen.exam_review.ExamReviewActivity"
            android:exported="false"
            android:label="@string/title_activity_exam_history"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.main.student_main.exam_list_screen.take_exam.TakeExamActivity"
            android:exported="false"
            android:label="@string/title_activity_take_exam"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.main.teacher_main.manage_classroom.manage_classroom_details.manage_exam.manage_question.ManageQuestionActivity"
            android:exported="false"
            android:label="@string/title_activity_manage_question"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.main.teacher_main.manage_classroom.manage_classroom_details.ManageClassroomDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_manage_classroom_details"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.main.teacher_main.manage_academy.manage_people.ManagePeopleActivity"
            android:exported="false"
            android:label="@string/title_activity_manage_people"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.sign_up.SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.main.teacher_main.TeacherMainActivity"
            android:exported="false"
            android:label="@string/title_activity_teacher_main"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.main.student_main.StudentMainActivity"
            android:exported="false"
            android:label="@string/title_activity_student_main"
            android:theme="@style/Theme.Pullgo.NoActionBar" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Pullgo.NoActionBar">
        </activity>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>