<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harry.pullgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.PullgoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pullgo">
        <activity
            android:name=".ui.manageClassroom.AddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manageClassroom.ManageQuestionActivity"
            android:exported="false" />
        <activity android:name=".ui.takeExam.TakeExamActivity" />
        <activity android:name=".AddressActivity" />
        <activity
            android:name=".ui.findAcademy.CreateAcademyActivity"
            android:parentActivityName=".ui.findAcademy.FindAcademyActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.manageAcademy.ManageAcademyManagePeopleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.manageClassroom.ManageClassroomActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.applyClassroom.ApplyClassroomActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.findAcademy.FindAcademyActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.StudentMainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.TeacherMainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.findAccount.FindAccountActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.signUp.StudentSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.signUp.TeacherSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.signUp.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>